@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 250, 250);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


:root {
  --background-color: #F8F6E3;
  --primary-color: #97E7E1;
  --secondary-color: #6AD4DD;
  --accent-color: #7AA2E3;
  --accent-dark: #6688bf;
  --text-color: #333;
  --text-color-light: #4a4a4a;
  --success-color: #2ecc71;
  --warning-color: #f1c40f;
  --error-color: #e74c3c;
  --information-color: #3498db;
  --light-primary: #B0EFEF;
  --dark-primary: #76B2B1;
  --disabled-color: #cccccc;
  --neutral-gray: #ededed;
  --darker-gray: #ebebeb;
}
