@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--neutral-gray);
}

/* For Webkit browsers like Chrome, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* General reset for input[type=number] to remove default up/down arrows */
input[type=number]::-webkit-clear-button,
input[type=number]::-webkit-inner-spin-button {
    display: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:root {
  --background-color: #F8F6E3;
  --primary-color: #97E7E1;
  --secondary-color: #6AD4DD;
  --accent-color: #7AA2E3;
  --accent-dark: #6688bf;
  --text-color: #333;
  --text-color-light: #4a4a4a;
  --success-color: #2ecc71;
  --warning-color: #f1c40f;
  --error-color: #e74c3c;
  --information-color: #3498db;
  --light-primary: #B0EFEF;
  --dark-primary: #76B2B1;
  --disabled-color: #cccccc;
  --neutral-gray: #ededed;
  --darker-gray: #ebebeb;
}

.item-display {
  background-color: var(--neutral-gray);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
